.fl-right{
	float: right;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  border-radius: 4px;
  margin-right: 2px;
  opacity: 0.6;
  filter: invert(0.8);
}
input[type="date"]::-webkit-calendar-picker-indicator:hover {
  opacity: 1
}
input[type="time"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  border-radius: 4px;
  margin-right: 2px;
  opacity: 0.6;
  filter: invert(0.8);
}
input[type="time"]::-webkit-calendar-picker-indicator:hover {
  opacity: 1
}
.edit-del-btn{
  padding: 4px 11px;
}
.ti-slice, .ti-trash,.ti-plus{
  color: white;
}